.NavContainer{
   
}

.cardImg {
    padding: 1%;
    opacity: 0.4; 
   
}

.textContainer{
    padding-top: 3%;
   width: 100%;
    text-align: center;
    display: block;
    
}
.background{
    
}

.CardGroups{
  padding: 2.5%;

}
.individual-cards:hover{
    border: 1px solid black;
    cursor: pointer;
}
.ButtonGroup{
    padding-left: 2.5%;
   
}